// Main body styling (inside main = card styling)

@import "variables";

.todotask__card {
  padding: 1rem;
  @include flex-align();
  flex-flow: column;
  margin-bottom: 0.7rem;
  position: relative;
  z-index: 1;

  -webkit-box-shadow: $--shadow-card;
  -moz-box-shadow: $--shadow-card;
  box-shadow: $--shadow-card;

  .card__completed {
    position: absolute;
    top: 0;
    height: 0%;
    width: 100%;
    @include flex-align();
    flex-flow: column;
    justify-content: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;

    i {
      font-size: 2.5rem;
      text-shadow: rgba(31, 31, 31, 0.6) 0px 0px 4px;
    }

    h3 {
      color: $--clr-white;
      font-weight: 700;
      text-shadow: rgba(31, 31, 31, 0.6) 0px 0px 4px;
    }
  }

  .card__deleted {
    position: absolute;
    top: 0;
    width: 100%;
    height: 0%;
    padding: 1rem;
    @include flex-align();
    flex-flow: column;
    justify-content: center;
    text-align: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;

    .card_delete_buttons {
      width: 50%;
      @include flex-align();
      justify-content: space-evenly;

      button {
        border: none;
        padding: 0.1rem 0.5rem;
      }
    }
  }

  .card__header {
    width: 100%;
    font-size: 0.8rem;
    @include flex-align();
    justify-content: space-between;
    margin-bottom: 1rem;

    .card__header_task {
      background-color: $--clr-mediumturquoise;
      border: none;
      border-radius: 0.3rem;
      color: $--clr-white;
      padding: 0 0.5rem;
    }

    .card__header_icons {
      i {
        &:first-child {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .card__main {
    width: 100%;
    @include flex-align();
    flex-flow: column;
    text-align: center;

    img {
      aspect-ratio: 4/3;
      object-fit: cover;
      border: 1px solid grey;
      padding: 0.2rem;
      width: 100%;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 700;
      margin: 0.5rem 0;
    }

    p {
      font-size: 0.7rem;
      margin: 0;
    }

    hr {
      width: 100%;
    }
  }

  .card__info {
    width: 100%;
    @include flex-align();
    flex-flow: column;

    .card__info_priority {
      width: 100%;
      @include flex-align();
      font-size: 0.8rem;

      i {
        margin-right: 0.5rem;
      }

      .priority_level {
        display: inline-block;
        color: $--clr-white;
        border: none;
        border-radius: 0.3rem;
        background-color: $--clr-green;
        padding: 0.1rem 0.4rem;
        cursor: pointer;
        user-select: none;
      }
    }

    .card__info_deadline {
      width: 100%;
      @include flex-align();
      font-size: 0.8rem;

      i {
        margin-right: 0.5rem;
      }
    }

    hr {
      width: 100%;
    }
  }

  .card__buttons {
    width: 100%;
    @include flex-align();
    justify-content: flex-end;
    gap: 0.5rem;

    .button_delete {
      padding: 0.2rem 0.5rem;
      color: $--clr-white;
      gap: 0.5rem;
      font-size: 0.8rem;
      background-color: $--clr-red;
      border: none;
      border-radius: 0.2rem;
    }

    .button_done {
      padding: 0.2rem 0.5rem;
      color: $--clr-white;
      gap: 0.5rem;
      font-size: 0.8rem;
      background-color: $--clr-green;
      border: none;
      border-radius: 0.2rem;
    }
  }
}

.todo__opacity {
  > :not(.card__completed) {
    opacity: 0.05;
    transition: opacity 0.5s ease;
  }
}
